#<div dir="rtl" align=center>First steps in Panda</div>

In [ ]:
import pandas as pd

In [ ]:
url = 'https://s3.eu-west-1.amazonaws.com/data.cyber.org.il/virtual_courses/introdata/colab/artists.csv'

In [ ]:
artists = pd.read_csv(url)

Command to see the first 5 rows in the table

In [ ]:
artists.head()

,id,followers,genres,name,popularity
0,0DheY5irMjBUeLybbCUEZ2,0.0,[],Armid & Amir Zare Pashai feat. Sara Rouzbehani,0
1,0DlhY15l3wsrnlfGio2bjU,5.0,[],ปูนา ภาวิณี,0
2,0DmRESX2JknGPQyO15yxg7,0.0,[],Sadaa,0
3,0DmhnbHjm1qw6NCYPeZNgJ,0.0,[],Tra'gruda,0
4,0Dn11fWM7vHQ3rinvWEl4E,2.0,[],Ioannis Panoutsopoulos,0

Command to see the data type of each column

In [ ]:
artists.dtypes

id             object
followers     float64
genres         object
name           object
popularity      int64
dtype: object

In [ ]:
artists.tail()

,id,followers,genres,name,popularity
1104344,6rJIG42vcWAf1UBdRFlQxB,3345.0,[],Cody Longo,8
1104345,1ljurfXKPlGncNdW3J8zJ8,2123.0,['deep acoustic pop'],Right the Stars,18
1104346,2vnT9YhKIvjVo9LnVjWmr2,26.0,[],Jesse Giddings,0
1104347,3ID0E5XCvnJIYZEq043ZoB,406.0,[],The Boy Band Project,0
1104348,5m0Y4WSYyai2BU752lCASy,146.0,[],10 Reasons,1

#<div dir="rtl" align=center>Pandas Series</div>

In [ ]:
series_of_numbers = pd.Series([9, 0, 2, 1, 0])

In [ ]:
series_of_strings = pd.Series(['this', 'is', 'a', 'Pands', 'Series'])

In [ ]:
print(series_of_strings)

0      this
1        is
2         a
3     Pands
4    Series
dtype: object

In [ ]:
sorted_series = series_of_strings.sort_values()

Prints the list sorted alphabetically

In [ ]:
print(sorted_series)

3     Pands
4    Series
2         a
1        is
0      this
dtype: object

A command to retrieve a value using an index

In [ ]:
series_of_strings.loc[0]

'this'

A command to retrieve a value using a location

In [ ]:
series_of_strings.iloc[0]

'this'

In [ ]:
sorted_series.iloc[0]

'Pands'

In [ ]:
words = ['The','quick','brown','fox','jumps','over','the','lazy','dogs'] 
words[2:6]

['brown', 'fox', 'jumps', 'over']

A command to retrieve a value in a range using a location

In [ ]:
series_of_strings.iloc[0:3]

0    this
1      is
2       a
dtype: object

Command to change the index values

In [ ]:
series_of_strings.index = ['First','Second','Third','Fourth','Fifth']

In [ ]:
series_of_strings

First       this
Second        is
Third          a
Fourth     Pands
Fifth     Series
dtype: object

In [ ]:
series_of_strings.loc['Second']

'is'

#<div dir="rtl" align=center>Data Frame Basic sorting and retrieval + logical indexes - part 1</div>

In [ ]:
artists_by_popularity = artists.sort_values('popularity')

In [ ]:
artists_by_popularity.head()

,id,followers,genres,name,popularity
0,0DheY5irMjBUeLybbCUEZ2,0.0,[],Armid & Amir Zare Pashai feat. Sara Rouzbehani,0
619746,0UTYzGcYWWIpeBzLe1z5Pb,17.0,[],Alternate X-Mas,0
619747,175neE4EZHIlCg5em2in4g,9.0,[],Frosty MC,0
619748,2UI2HxG65gmWEDhOwRhwFT,2.0,[],Bobby Vale,0
619749,5GUiDykGFhoetAGI56AGPY,9.0,[],Villa & Vince,0

In [ ]:
artists_by_popularity.tail()

,id,followers,genres,name,popularity
144484,3Nrfpe0tUJi4K4DXYWgMUX,31623813.0,"['k-pop', 'k-pop boy group']",BTS,96
115489,4q3ewBCX7sLwd24euuV69X,32244734.0,"['latin', 'reggaeton', 'trap latino']",Bad Bunny,98
313676,3TVXtAsR1Inumwj472S9r4,54416812.0,"['canadian hip hop', 'canadian pop', 'hip hop'...",Drake,98
126338,06HL4z0CvFAxyc27GXpf02,38869193.0,"['pop', 'post-teen pop']",Taylor Swift,98
144481,1uNFoZAHBGtllmzznpCI3s,44606973.0,"['canadian pop', 'pop', 'post-teen pop']",Justin Bieber,100

In [ ]:
artists_by_popularity = artists.sort_values('popularity', ascending=False)

In [ ]:
artists_by_popularity.head()

,id,followers,genres,name,popularity
144481,1uNFoZAHBGtllmzznpCI3s,44606973.0,"['canadian pop', 'pop', 'post-teen pop']",Justin Bieber,100
115489,4q3ewBCX7sLwd24euuV69X,32244734.0,"['latin', 'reggaeton', 'trap latino']",Bad Bunny,98
126338,06HL4z0CvFAxyc27GXpf02,38869193.0,"['pop', 'post-teen pop']",Taylor Swift,98
313676,3TVXtAsR1Inumwj472S9r4,54416812.0,"['canadian hip hop', 'canadian pop', 'hip hop'...",Drake,98
144484,3Nrfpe0tUJi4K4DXYWgMUX,31623813.0,"['k-pop', 'k-pop boy group']",BTS,96

In [ ]:
artists_by_popularity = artists.sort_values(['popularity', 'followers'], ascending=False)

In [ ]:
artists_by_popularity.head()

,id,followers,genres,name,popularity
144481,1uNFoZAHBGtllmzznpCI3s,44606973.0,"['canadian pop', 'pop', 'post-teen pop']",Justin Bieber,100
313676,3TVXtAsR1Inumwj472S9r4,54416812.0,"['canadian hip hop', 'canadian pop', 'hip hop'...",Drake,98
126338,06HL4z0CvFAxyc27GXpf02,38869193.0,"['pop', 'post-teen pop']",Taylor Swift,98
115489,4q3ewBCX7sLwd24euuV69X,32244734.0,"['latin', 'reggaeton', 'trap latino']",Bad Bunny,98
144484,3Nrfpe0tUJi4K4DXYWgMUX,31623813.0,"['k-pop', 'k-pop boy group']",BTS,96

In [ ]:
artists_by_popularity.iloc[10,:]

id            7iK8PXO48WeuP03g8YR51W
followers                  5001808.0
genres               ['trap latino']
name                     Myke Towers
popularity                        95
Name: 115491, dtype: object

In [ ]:
artists_by_popularity.iloc[10:20,:]

,id,followers,genres,name,popularity
115491,7iK8PXO48WeuP03g8YR51W,5001808.0,['trap latino'],Myke Towers,95
144488,7dGJo4pcD2V6oG8kP0tJRR,43747833.0,"['detroit hip hop', 'hip hop', 'rap']",Eminem,94
313813,0Y5tJX1MQlPlqiwlOH1tJY,16118616.0,"['rap', 'slap house']",Travis Scott,94
145802,246dkjvS1zLTtiykXe5h60,32167665.0,"['dfw rap', 'melodic rap', 'rap']",Post Malone,93
144490,0du5cEVh5yTK9QJze8zA0C,29899101.0,"['dance pop', 'pop', 'post-teen pop']",Bruno Mars,93
126409,1i8SpTcr7yvPOmcqrbnVXY,27772492.0,"['latin', 'puerto rican pop', 'reggaeton', 'tr...",Ozuna,93
313701,5f7VJjfbwm532GiveGC0ZK,6789005.0,"['atl hip hop', 'atl trap', 'rap', 'trap']",Lil Baby,93
117022,4r63FhuTkUYltbVAg5TQnk,6485079.0,"['north carolina hip hop', 'rap']",DaBaby,93
144489,1mcTU81TzQhprhouKaTkpq,4438013.0,"['puerto rican pop', 'trap latino']",Rauw Alejandro,93
144138,6eUKZXaKkcviH0Ku9w2n3V,78900234.0,"['pop', 'uk pop']",Ed Sheeran,92

In [ ]:
artists_by_popularity[['name','popularity','followers']]

                                       name  popularity   followers
144481                        Justin Bieber         100  44606973.0
313676                                Drake          98  54416812.0
126338                         Taylor Swift          98  38869193.0
115489                            Bad Bunny          98  32244734.0
144484                                  BTS          96  31623813.0
...                                     ...         ...         ...
444798                            Duck Doja           0         NaN
446635                                 Zofa           0         NaN
446637                       Broadband Star           0         NaN
468527  Miles Davis & Charlie "Bird" Parker           0         NaN
468530               Robert Steven Williams           0         NaN

[1104349 rows x 3 columns]

In [ ]:
artists_by_popularity.loc[:,['name','popularity','followers']]

                                       name  popularity   followers
144481                        Justin Bieber         100  44606973.0
313676                                Drake          98  54416812.0
126338                         Taylor Swift          98  38869193.0
115489                            Bad Bunny          98  32244734.0
144484                                  BTS          96  31623813.0
...                                     ...         ...         ...
444798                            Duck Doja           0         NaN
446635                                 Zofa           0         NaN
446637                       Broadband Star           0         NaN
468527  Miles Davis & Charlie "Bird" Parker           0         NaN
468530               Robert Steven Williams           0         NaN

[1104349 rows x 3 columns]

In [ ]:
artists.columns

Index(['id', 'followers', 'genres', 'name', 'popularity'], dtype='object')

In [ ]:
artists_by_popularity.iloc[:,[3,4,1]]

                                       name  popularity   followers
144481                        Justin Bieber         100  44606973.0
313676                                Drake          98  54416812.0
126338                         Taylor Swift          98  38869193.0
115489                            Bad Bunny          98  32244734.0
144484                                  BTS          96  31623813.0
...                                     ...         ...         ...
444798                            Duck Doja           0         NaN
446635                                 Zofa           0         NaN
446637                       Broadband Star           0         NaN
468527  Miles Davis & Charlie "Bird" Parker           0         NaN
468530               Robert Steven Williams           0         NaN

[1104349 rows x 3 columns]

In [ ]:
artists_by_popularity.iloc[10:20,[3,4,1]]

                  name  popularity   followers
115491     Myke Towers          95   5001808.0
144488          Eminem          94  43747833.0
313813    Travis Scott          94  16118616.0
145802     Post Malone          93  32167665.0
144490      Bruno Mars          93  29899101.0
126409           Ozuna          93  27772492.0
313701        Lil Baby          93   6789005.0
117022          DaBaby          93   6485079.0
144489  Rauw Alejandro          93   4438013.0
144138      Ed Sheeran          92  78900234.0

In [ ]:
artists_by_popularity[['name','popularity','followers']].iloc[:10,:]

                 name  popularity   followers
144481  Justin Bieber         100  44606973.0
313676          Drake          98  54416812.0
126338   Taylor Swift          98  38869193.0
115489      Bad Bunny          98  32244734.0
144484            BTS          96  31623813.0
144483     The Weeknd          96  31308207.0
115490     Juice WRLD          96  16996777.0
144485  Ariana Grande          95  61301006.0
144486       J Balvin          95  27286822.0
144487       Dua Lipa          95  24123468.0

#<div dir="rtl" align=center>Data Frame Basic sorting and retrieval + logical indexes - part 2</div>

In [ ]:
pop_rock_2000 = artists_by_popularity[['name','popularity','followers']].iloc[[20,58,120,138,160,446,1265,1517],:]

In [ ]:
pop_rock_2000

                   name  popularity   followers
313508          Rihanna          92  42244011.0
182102        Lady Gaga          89  17047864.0
142378  Black Eyed Peas          86   5594057.0
143815          50 Cent          85   7036668.0
143817   Britney Spears          84   8877968.0
142136  Backstreet Boys          79   3795212.0
145502              TLC          72   2584449.0
148875         No Doubt          71   1916973.0

In [ ]:
pop_rock_2000['name']=='Black Eyed Peas'

313508    False
182102    False
142378     True
143815    False
143817    False
142136    False
145502    False
148875    False
Name: name, dtype: bool

In [ ]:
pop_rock_2000.loc[pop_rock_2000['name']=='Black Eyed Peas',:]

                   name  popularity  followers
142378  Black Eyed Peas          86  5594057.0

In [ ]:
artists_by_popularity.loc[artists_by_popularity['name']=='Mashina',:]

,id,followers,genres,name,popularity
82150,7iE2GZiF0xVFzlA2E93m3g,106065.0,"['classic israeli pop', 'israeli rock']",Mashina,46

In [ ]:
pop_rock_2000.loc[pop_rock_2000['followers'] > 7000000,:]

                  name  popularity   followers
313508         Rihanna          92  42244011.0
182102       Lady Gaga          89  17047864.0
143815         50 Cent          85   7036668.0
143817  Britney Spears          84   8877968.0

In [ ]:
artists_new_index = artists_by_popularity.reset_index(drop=True)

In [ ]:
artists_new_index.head()

,id,followers,genres,name,popularity
0,1uNFoZAHBGtllmzznpCI3s,44606973.0,"['canadian pop', 'pop', 'post-teen pop']",Justin Bieber,100
1,3TVXtAsR1Inumwj472S9r4,54416812.0,"['canadian hip hop', 'canadian pop', 'hip hop'...",Drake,98
2,06HL4z0CvFAxyc27GXpf02,38869193.0,"['pop', 'post-teen pop']",Taylor Swift,98
3,4q3ewBCX7sLwd24euuV69X,32244734.0,"['latin', 'reggaeton', 'trap latino']",Bad Bunny,98
4,3Nrfpe0tUJi4K4DXYWgMUX,31623813.0,"['k-pop', 'k-pop boy group']",BTS,96

In [ ]:
artists_new_index.loc[artists_new_index['name']=='Mashina',:]

,id,followers,genres,name,popularity
30760,7iE2GZiF0xVFzlA2E93m3g,106065.0,"['classic israeli pop', 'israeli rock']",Mashina,46

In [ ]:
len(artists)

1104349

In [ ]:
artists.shape

(1104349, 5)

In [ ]:
artists_new_index.loc[artists_new_index['popularity']==46,:]

,id,followers,genres,name,popularity
30546,6nAVJkZZ55jorZmO5bpezv,1324958.0,"['classic bollywood', 'desi pop', 'filmi', 'mo...",Falguni Pathak,46
30547,6tdM5Njlln7nWkonCppW0u,746049.0,"['brega funk', 'funk carioca']",MC Loma e As Gêmeas Lacração,46
30548,0IpLJsvZHA1op1pw8GAoPu,650153.0,"['funk carioca', 'funk das antigas', 'funk pop']",Valesca Popozuda,46
30549,6czdbISBoxGckbBX8F4m8L,625882.0,"['social media pop', 'teen pop']",Jacob Sartorius,46
30550,42E0oXQahsY72WmOvs4rl4,552870.0,['trap queen'],Chyna Cymone,46
...,...,...,...,...,...
33517,3Y4FNEIT10xASCqCbeE5d8,1.0,[],Sabine Menne,46
33518,0oi41A3WnpwtHeRIctpGNV,1.0,['instrumental lullaby'],Titus S.,46
33519,61kJqNFjhdMuefJiY9YjHq,0.0,[],Tristan Brugmann,46
33520,28ZhWuvsKE0P8R7AqrRFRk,0.0,[],Amiya Jarvis999,46
33521,3KXZ9h0J2Yxa6V4Su1OdfD,0.0,[],Reent Reins,46

In [ ]:
artists_new_index.loc[
                      (artists_new_index['popularity']==46) &
                      (artists_new_index['followers']>=105000) &
                      (artists_new_index['followers']<107000),:
                      ]

,id,followers,genres,name,popularity
30758,112CaF6ayJD0CIe64FjhhX,106268.0,['italian pop'],Emma Muscat,46
30759,2cbWJP4X5b9sKEDW80uc5r,106107.0,"['jazz metal', 'opera metal', 'steampunk', 'sw...",Diablo Swing Orchestra,46
30760,7iE2GZiF0xVFzlA2E93m3g,106065.0,"['classic israeli pop', 'israeli rock']",Mashina,46
30761,6QR0aIEAemEigDCKjOVxe0,105743.0,"['hypnosis mic', 'j-division']",ヒプノシスマイク -D.R.B- (Division All Stars),46
30762,2WLmgv66Uq4vt2i36vwkAq,105632.0,"['classic garage rock', 'death metal', 'gothen...",The Haunted,46